<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="YB" allow-return-values="true">
	<!-- 打开浏览器 -->
	<test name="open">
		<classes>
			<class name="com.soulinfo.cases.BrowserCase">
				<methods>
					<include name="openBrowser"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长登录 -->
	<test name="clalogin1">
		<classes>
			<class name="com.soulinfo.cases.LoginCase">
				<methods>
					<include name="testClaLogin"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长创建新书册 -->
	<test name="createBook">
		<classes>
			<class name="com.soulinfo.cases.CreateBooksCase">
				<methods>
					<include name="test1CreateBooks"></include>
					<include name="test2Code"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长创建新投票 -->
	<test name="createVote">
		<classes>
			<class name="com.soulinfo.cases.CreateVoteCase">
				<methods>
					<include name="testCreateVote"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长注销 -->
	<test name="clalogout1">
		<classes>
			<class name="com.soulinfo.cases.LoginCase">
				<methods>
					<include name="testLogout"></include>
				</methods>
			</class>
		</classes>
	</test>

	<!-- 班长登录 -->
	<test name="clalogin2">
		<classes>
			<class name="com.soulinfo.cases.LoginCase">
				<methods>
					<include name="testClaLogin"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长打开创建新书 -->
	<test name="openCreateBook1">
		<classes>
			<class name="com.soulinfo.cases.AddBookCase">
				<methods>
					<include name="testOpenCreateBook"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长发表想说内容 -->
	<test name="clasayText">
		<classes>
			<class name="com.soulinfo.cases.SayCase">
				<methods>
					<include name="testCreateSay"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长参与投票内容 -->
	<test name="clavoteText">
		<classes>
			<class name="com.soulinfo.cases.VoteCase">
				<methods>
					<include name="testCreateVote"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长制作个人书页 -->
	<test name="classCreateMyBookPage">
		<classes>
			<class name="com.soulinfo.cases.MyPageCase">
				<methods>
					<include name="testCreateClaMyPage"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长注销 -->
	<test name="clalogout2">
		<classes>
			<class name="com.soulinfo.cases.LoginCase">
				<methods>
					<include name="testLogout"></include>
				</methods>
			</class>
		</classes>
	</test>
<!-- 班长登录 -->
	<test name="clalogin3">
		<classes>
			<class name="com.soulinfo.cases.LoginCase">
				<methods>
					<include name="testClaLogin"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长打开创建新书 -->
	<test name="openCreateBook2">
		<classes>
			<class name="com.soulinfo.cases.AddBookCase">
				<methods>
					<include name="testOpenCreateBook"></include>
					<exclude name="test1MyBook"></exclude>
					<exclude name="testOpenBook"></exclude>
					<exclude name="test2AddBook"></exclude>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长制作活动页 -->
	<test name="classCreateActivities">
		<classes>
			<class name="com.soulinfo.cases.CreateActivitiesCase">
				<methods>
					<include name="testCreateaAtivities"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长提交未提交书页 -->
	<test name="classSubmitPage">
		<classes>
			<class name="com.soulinfo.cases.SubmitBookCase">
				<methods>
					<include name="testSubimitOthers"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长提交书册 -->
	<test name="classSubmitBook">
		<classes>
			<class name="com.soulinfo.cases.SubmitBookCase">
				<methods>
					<include name="testSubmitBook"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 班长注销 -->
	<test name="clalogout3">
		<classes>
			<class name="com.soulinfo.cases.LoginCase">
				<methods>
					<include name="testLogout"></include>
				</methods>
			</class>
		</classes>
	</test>
	<!-- 关闭浏览器 -->
	<test name="close">
		<classes>
			<class name="com.soulinfo.cases.BrowserCase">
				<methods>
					<include name="closeBrowser"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite> 